@import './base.less';

#app {
  overflow: hidden;
  .home-view {
    .leaflet-touch {
      .leaflet-bar {
        a {
          &:first-child {
            background-image: url('../assets/images/ui/scale-add-icon.png');
            background-color: transparent;
            background-size: cover;
            border: none;
            width: 20px;
            height: 20px;
            background-size: 100% 100%;
            margin-bottom: 10px;
          }
          &:last-child {
            background-image: url('../assets/images/ui/scale-minus-icon.png');
            background-color: transparent;
            background-size: cover;
            border: none;
            width: 20px;
            height: 20px;
            background-size: 100% 100%;
            margin-top: 10px;
          }
        }
      }
      .leaflet-control-zoomslider {
        position: relative;
        left: -10px;
        bottom: 20px;
        border: none;
        .leaflet-control-zoomslider-wrap {
          width: 20px;
          .leaflet-control-zoomslider-body {
            width: 10px;
            border-radius: 5px;
            background: rgba(0, 0, 0, .4);
            border: 1px solid hsla(0, 0%, 100%, .5);
            position: relative;
            margin: 0 auto; 
            .leaflet-control-zoomslider-knob {
              position: relative;
              left: -6px;
              width: 20px;
              height: 20px;
              background-image: url('../assets/images/ui/scale-pro-icon.png');
              background-size: cover;
              cursor: pointer;
            }      
          }
        }
      }
    }
  }
}

.map-marker-item {
  .area-marker-item {
    white-space: nowrap;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    text-shadow: 0 0 3px #333;
  }
}

.point-item-container {
  position: relative;
  width: 37px;
  height: 40px;
  background-size: cover;
  background-image: url('../assets/images/map/icon-bg.png');
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 3px;
  .arrow-icon {
    position: absolute;
    display: none;;
    width: 10px;
    height: 10px;
    background-image: url('../assets/images/map/arrow-l.png');
    background-size: cover;
    &.lb{
      left: 0;
      bottom: 6px;
    }
    &.lt {
      transform: scaleY(-1);
      left: 0;
      top: -5px;
    }
    &.rb{
      transform: scaleX(-1);
      right: 0;
      bottom: 6px;
    }
    &.rt {
      transform: scale(-1);
      right: 0;
      top: -5px;
    }
  }
  &.active {
    background-image: url('../assets/images/map/icon-bg-active.png');
    transform: scale(1.2);
    transform-origin: center bottom;
    .arrow-icon {
      display: block;
    }
  }
  .point-pic {
    width: 25px;  
    height: 25px;
    background-size: cover;
  }
}
